body{
    background-color: rgb(255, 242, 231);
    font-family: 'Nanum Myeongjo', serif;
}

header{
    font-family: 'Nanum Myeongjo', serif;
}

.header_font{
    text-align: center;
    font-family: 'Nanum Myeongjo', serif;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    margin: 15px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    width: fit-content;
}

#header_font_bottom{
    color: brown;
    font-size: smaller;
}

.menu_bar{
    margin-top: 100px;
    background-color: rgb(255, 233, 212);
    width: max-content;
    height: max-content;
    padding: 5px 15px 20px 15px;
}

.sign_in{
    margin: 0px 0px 0px 0px;
}

#sign_in{
    font-family: 'Nanum Myeongjo', serif;
    border-radius: 5px;
    font-size: 17px;
    width: fit-content;
    padding: 5px;
    margin: 5px;
    height: 40px;
    border: 1px white solid;
    cursor: pointer;
}

#sign_in:hover{
    transform: scale(1.1);
}

#log_in{
    font-family: 'Nanum Myeongjo', serif;
    border-radius: 5px;
    font-size: 17px;
    width: fit-content;
    padding: 5px;
    margin: 5px;
    height: 40px;
    border: 1px white solid;
    cursor: pointer;
}

#log_in:hover{
    transform: scale(1.1);
}

.upload{
    margin: 25px 0px 25px 0px;
}

#upload{
    font-size: 18px;
    margin: 5px;
}

.upload_items{
    cursor: pointer;
    margin: 7px;
    margin-top:10px;
    margin-bottom: 10px;
}

.upload_items:hover{
    transform: scale(1.1);
}

.download{
    margin: 25px 0px 15px 0px;
}

#download{
    font-size: 18px;
    margin: 5px;
}

.download_items{
    margin: 7px;
    margin-top:10px;
    margin-bottom: 10px;
}

.download_items:hover{
    cursor: pointer;
    transform: scale(1.1);
}

#delete{
    font-size: 18px;
    margin: 5px;
    margin-top: 50px;
}

#delete_font{
    font-size: 15px;
    color: rgb(163, 21, 21);
}

.delete_btn{
    font-family: 'Nanum Myeongjo', serif;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(250, 241, 241);
    border: 1px solid rgba(182, 132, 132, 0.925);
    width: max-content;
    padding: 0px 5px 0px 5px;
    height: 35px;
    margin: 5px 0px 5px 0px;
}

.delete_btn:hover{
    font-family: 'Nanum Myeongjo', serif;
    transform: scale(1.1);
}

#sign_in_hidden_sign_in{
    color: brown;
    font-size: larger;
}

#sign_in_hidden{
    line-height: 400%;
    position: absolute;
    background-color: white;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    height: 400px;
    text-align: center;
}

.sign_in_hidden_inpt{
    width: max-content;
    padding: 7px 5px 7px 5px;
    border: 0.5px solid grey;
}

.sign_in_hidden_btn{
    width: max-content;
    padding: 7px 5px 7px 5px;
    border: 1px white solid;
    cursor: pointer;
}

.sign_in_hidden_btn:hover{
    transform: scale(1.1);
}

.load_basic_font{
    font-size: 19px;
}

.file{
    margin: 30px 0px 20px 0px;
}

/* 다운로드 */
#cloud_photo_container_1{
    text-align: center;
    align-items: center;
    transform: scale(0.3);
}

.cloud_download{
    border-radius: 15px;
    margin: 50px 0px 0px 0px;
    cursor: pointer;
    font-size: 18px;
    border: 1px white solid;
    height: 75px;
    width: 100px;
    background-color: antiquewhite;
    padding: 20px 0px 20px 0px;
}

.cloud_download:hover{
    transform: scale(1.1);
}